html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  border: 0pt none;
  font: inherit;
  margin: 0pt;
  padding: 0pt;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none outside none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 20px;
  line-height: 60px;
  color: black;
  font-weight: 100;
  max-width: 600px;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: none;
}

a img {
  border: medium none;
  cursor: url("http://static.tumblr.com/utxaocy/77Dlsctn0/finger.png"), auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
  left: 0pt;
  top: 0pt;
  width: 100%;
}

.post a {
  // font-size: 170%;
}

body {
  background-attachment: fixed;
  background-image: url("http://static.tumblr.com/utxaocy/Ro5lscs34/bg.jpg");
  background-position: left top;
  color: #333333;
  font-family: Monaco,"Courier New",Courier,monospace;
  font-weight: 100;
  margin: 0pt;
  overflow: hidden;
  padding: 0pt;
  text-transform: uppercase;
  z-index: 0;
}

a {
  color: #333333;
  cursor: pointer;
  // font-size: 70%;
  letter-spacing: 4px;
  text-decoration: none;
}

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #333333;
  cursor: url("http://static.tumblr.com/utxaocy/77Dlsctn0/finger.png"), auto;
}

#linx {
  color: #333333;
  left: 10px;
  position: fixed;
  top: 10px;
  z-index: 10;
}

select {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

#navz {
  cursor: pointer;
  display: none;
  margin-left: 5px;
  margin-top: 5px;
  text-transform: uppercase;
}

#navz option {
  cursor: pointer;
}

#logo {
  left: -20px;
  position: fixed;
  top: -25px;
  z-index: -1;
}

#mark {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 7px;
  margin: 10px 20px 10px 10px;
}

.post {
  position: absolute;
}

#nav {
  cursor: url("http://static.tumblr.com/utxaocy/gQAlsctj6/handopen.gif"), auto;
  left: 0pt;
  position: absolute;
  text-transform: uppercase;
  top: 0pt;
}

#canvas-handle {
  cursor: url("http://static.tumblr.com/utxaocy/gQAlsctj6/handopen.gif"), auto;
  height: 20000px;
  left: 200px;
  margin-top: -100px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 2000px;
  width: 20000px;
}

#canvas-handle:active, #canvas-handle.dragging {
  cursor: url("http://static.tumblr.com/utxaocy/GBklsctmd/handgrab.gif"), auto;
}

p {
  font-size: 13px;
  line-height: 15px;
  color: black;
  font-weight: 100;
  max-width: 600px;
}

p:first-child {
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.title {
  font-size: 26px;
  margin-bottom: 5px;
}

div.copy p span {
  display: block;
  max-width: 600px;
}

#okfocus {
  bottom: 20px;
  cursor: pointer;
  position: fixed;
  right: 15px;
  text-decoration: none;
  z-index: 420;
}


#okfocus a:hover {
  background: none repeat scroll 0% 0% transparent;
  cursor: pointer;   box-shadow:1px 1px 0px #000000;
}

#okfocus a {
  border: 0pt none;
  cursor: pointer;
  text-decoration: none;
}

#okfocus a img {
  border: 0pt none;
  cursor: pointer;
  text-decoration: none;
}

#social {
  position: fixed;
  right: 0px;
  top: 50px;
  width: 120px;
}

.fb-like {
  float: right;
  margin: 0px;right:-6px;
  position: relative;
  top: -7px;
}

.twitter-share-button {
  float: right;right:5px;
  position: relative;
}

p.dontshow{visibility:hidden;}

.photoset .photoset_row {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 500px;
}

.photoset .photoset_row:first-child {
  margin-top: 0pt;
}

.photoset .photoset_row .photoset_photo {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.photoset .photoset_row .photoset_photo:first-child {
  margin-left: 0pt ! important;
}

#navigation {
  display: none;
}
p.larger {
     font-size: 50px;
     line-height: 50px;
     text-align: left;
}
